.drawerContainer{
    width: 5em;
    margin-top: 2em;
    margin-left: 2em;
}
.Jobsimagetextdiv:hover .jobshover{
    z-index: 5;
    display : block;
    color :brown;
}
.Jobsimage{
    width: 8em;
}
.Jobsimagetext{
    margin-left: 33px;
}
.Jobsimagetextdiv{
    height: 9em;
    width: 8em;
    border: rgb(73, 69, 69) solid 2px;
    box-shadow: 4px 2px 9px 1px;

}
.coursesimagetextdiv{
    width: 8em;
    height: 9em;
    margin-top: 3em;
    border: rgb(73, 69, 69) solid 2px;
    box-shadow: 4px 2px 9px 1px;
}
.coursesimagetextdiv:hover .coursesshover{
    
    display: block;
    color :brown;

}
.coursesimage{
    width: 8em;
}
.coursesimagetext{
    margin-left: 15px;
    margin-top: -10px;
}
.techimagetext{
    margin-left: 30px;
}
.techimage{
    width: 8em;
    margin-top: 25px;

}
.techimagetextdiv{
    width: 8em;
    height: 9em;
    margin-top: 3em;
    border: rgb(73, 69, 69) solid 2px;
    box-shadow: 4px 2px 9px 1px;
}
.techimagetextdiv:hover .techshover{
    display: block;
    color :brown;

}
.jobshover{
  display: none;
    position: absolute;
    margin-top: -147px;
    margin-left: px;
    background-color: mintcream;
     width: 8em;
    height: 9em; 
    
}
.coursesshover{
    display: none;
    position: absolute;
    margin-top: -142px;
    margin-left: px;
    background-color: mintcream;
     width: 8em;
    height: 9em; 

}
.techshover{
    display: none;
    position: absolute;
    margin-top: -139px;
    margin-left: px;
    background-color: mintcream;
     width: 8em;
    height: 9em;
}
.jobsdiv{
    margin-left: 1em;
}
.jobsdivnav{
    margin-left: 2.5em;

}
.jobsdivtech{
    margin-left: 2em;
}